<main>
  <div class='wrapper'>
   <a href='#' class='button poll-button'>Create New Poll</a>
    <div class='main'>
      <section class='new-poll'>
        <form class='create-poll' action='/' method='POST'>
          <label for="email">Your Email</label>
          <input id="email" type="email" name="email" placeholder="Enter your email address" required>

          <label for="title">Title</label>
          <input id="name" type="text" name="title" placeholder="Enter Poll Title" required>

          <label for="description">Description</label>
          <textarea name="description" placeholder="Poll description (optional)"></textarea>
          
          <button class="poll-button">Start Poll</button>
        </form>
      </section>
    </div>
  </div>
</main>