<!DOCTYPE html>
<html lang="en">
  
  <head>
  <% include partials/_head %>
  <script type="text/javascript" src="/scripts/admin.js"></script>
  </head>

  <body>

    <% include partials/_header %>

    <main>
      <div class='wrapper'>
        <div class='main'>
          <section class='friends-invites'>
            
          </section>
        </div>
      </div>
    </main>

    <% include partials/_footer %>
  
  </footer>
  </body>
</html>