<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/_head %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
</head>

<body>

  <% include partials/_header %>


    <main>
      <div class='wrapper'>
        <div class='main'>
          <h2>Current results</h2>
          <h3 class='poll-title'>
            <%= title %>
          </h3>
          <div class='results-board'>
            <canvas id="myChart" width="400" height="400"></canvas>
            <script>
            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                labels: [<% options.forEach( item => { %>
                  "<%= item.name %>",
                  <% }) %>
                ],
                datasets: [{
                  label: 'Rating',
                  data: [<% options.forEach( item => { %>
                    <%= item.result %>,
                    <% }) %>
                  ],
                  backgroundColor: [<% options.forEach( (item,index) => { %>
                    <% if (index % 2 === 0) { %>
                    'rgba(242, 116, 107, 0.75)',
                    <% } else { %>
                    'rgba(17, 140, 139, 0.75)',
                    <% } %>
                    <% }) %>
                  ],
                  borderWidth: 1
                }]
              },
              options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                  yAxes: [{
                    ticks: {
                      beginAtZero: true
                    }
                  }]
                }
              }
            });

          </script>
          <a href='/' class='option-button'>Create new poll</a>
        </div>
      </div>
      <iframe src="/music/resultsPollDaddy.m4a" allow="autoplay" style="display:none" id="iframeAudio">
      </iframe>
    </div>
  </main>

  <% include partials/_footer %>

  </footer>
</body>

</html>
