<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/_head %>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script type='text/javascript' src='/scripts/vote.js'></script>
</head>

<body>

  <% include partials/_header %>
    <main>
      <div class='wrapper'>
        <div class='main'>
          <h2>Sort your options</h2>
          <h3 class='poll-title'>
            <%= title %>
          </h3>
          <nav id='options'>
            <ol class='sortable connect'>
              <% options.forEach( (item,index) => { %>
              <li id='<%= index %>'><%= item %></li>
              <% }) %>
            </ol> 
          <button id='vote'>Submit</button>
        </nav>
      </div>
      <iframe src="/music/votersPollDaddy.m4a" allow="autoplay" style="display:none" id="iframeAudio">
      </iframe>
    </div>
  </main>

  <% include partials/_footer %>

  </footer>
</body>

</html>
