html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* TRANSITION */
/* BORDER RADIUS */
/* BORDER */
/* FONTS */
* {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
}

input,
textarea {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 2rem;
}

button {
  font-style: italic;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(255, 255, 255, 0.5))), url(./../images/background.jpg);
  background: linear-gradient(rgba(255, 255, 255, 0.5) 30%), url(./../images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h2 {
  margin: 20px;
  color: #118c8b;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

ul {
  padding: 0;
}

section {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

header {
  width: 100vw;
  padding: 20px;
  background-color: #f2746b;
  border-top: 2px solid #118c8b;
  border-bottom: 2px solid #118c8b;
}

header h1 {
  color: #000d29;
}

header .logo {
  height: 100px;
  width: 400px;
}

main .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

audio {
  margin-top: 20px;
}

.main {
  margin-top: 20px;
  background-color: rgba(188, 161, 141, 0.75);
  border-radius: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main h2 {
  color: #000d29;
}

.new-poll {
  display: none;
  padding: 20px;
}

.poll-button, #vote {
  border: none;
  color: #000d29;
  background-color: #f2746b;
  font-size: 1rem;
  padding: 15px;
  display: inline-block;
  border-radius: 25px;
  max-height: 50px;
  margin: 5px;
  font-style: normal;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  width: 175px;
  border: 2px solid #118c8b;
}

.poll-button:hover, #vote:hover {
  background-color: #f14d49;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  border: 2px solid #000d29;
  font-weight: 700;
}

.create-poll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create-poll input {
  min-width: 260px;
  padding: 0 20px;
  width: 50%;
  max-width: 600px;
  height: 50px;
  text-align: center;
  margin: 10px 0;
  color: #000d29;
}

.create-poll input::-webkit-input-placeholder {
  color: #118c8b;
  text-align: center;
}

.create-poll input:-ms-input-placeholder {
  color: #118c8b;
  text-align: center;
}

.create-poll input::-ms-input-placeholder {
  color: #118c8b;
  text-align: center;
}

.create-poll input::placeholder {
  color: #118c8b;
  text-align: center;
}

.create-poll textarea {
  min-width: 260px;
  padding: 0 20px;
  width: 50%;
  max-width: 600px;
  height: 150px;
  text-align: left;
  padding-top: 10px;
}

.create-poll textarea::-webkit-input-placeholder {
  color: #118c8b;
  text-align: center;
}

.create-poll textarea:-ms-input-placeholder {
  color: #118c8b;
  text-align: center;
}

.create-poll textarea::-ms-input-placeholder {
  color: #118c8b;
  text-align: center;
}

.create-poll textarea::placeholder {
  color: #118c8b;
  text-align: center;
}

.button-panel {
  min-width: 260px;
  padding: 20px;
  width: 50%;
  max-width: 600px;
  height: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.option-button {
  border: none;
  color: #000d29;
  background-color: #bca18d;
  font-size: 1rem;
  padding: 15px;
  display: inline-block;
  border-radius: 25px;
  max-height: 50px;
  margin: 5px;
  font-style: normal;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  width: 175px;
  border: 2px solid #118c8b;
}

.option-button:hover {
  background-color: #118c8b;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  border: 2px solid #000d29;
  font-weight: 700;
}

.option-button:hover {
  background-color: #118c8b;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.option-list {
  min-width: 260px;
  padding: 0;
  width: 50%;
  max-width: 600px;
  height: auto;
  text-align: center;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.option-list input {
  width: 100%;
}

footer {
  background-color: rgba(242, 116, 107, 0.75);
  padding: 20px;
  border-top: 2px solid #118c8b;
  border-bottom: 2px solid #118c8b;
}

.friend-invites {
  min-height: 25vh;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.friend-invites input {
  min-width: 260px;
  padding: 0 20px;
  width: 50%;
  max-width: 600px;
  height: 50px;
  text-align: center;
  border: 2px solid #118c8b;
  color: #118c8b;
}

.friend-invites input:hover {
  border: 2px solid #000d29;
}

.friend-invites input::-webkit-input-placeholder {
  color: #118c8b;
}

.friend-invites input:-ms-input-placeholder {
  color: #118c8b;
}

.friend-invites input::-ms-input-placeholder {
  color: #118c8b;
}

.friend-invites input::placeholder {
  color: #118c8b;
}

.invite-form {
  min-width: 260px;
  padding: 0 20px;
  width: 50%;
  max-width: 600px;
  height: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.invite-form input {
  margin: 5px;
}

.invites-status {
  text-align: center;
}

.invites-status p {
  padding: 10px;
  color: #118c8b;
}

.invites-status h3 {
  margin-top: 10px;
  padding: 10px;
  color: #000d29;
}

#send-invite {
  border: none;
  color: #000d29;
  background-color: #118c8b;
  font-size: 1rem;
  padding: 15px;
  display: inline-block;
  border-radius: 25px;
  max-height: 50px;
  margin: 5px;
  font-style: normal;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  width: 175px;
  border-radius: 0;
  border: 2px solid #000d29;
  height: 50px;
}

#send-invite:hover {
  background-color: #f2746b;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  border: 2px solid #000d29;
  font-weight: 700;
}

.sortable {
  min-width: 260px;
  padding: 0;
  width: 50%;
  max-width: 600px;
  height: auto;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sortable li {
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #118c8b;
  counter-increment: step-counter;
  margin-bottom: 10px;
  border-radius: 10px;
}

.sortable li::before {
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 100%;
  background-color: #118c8b;
  color: #000d29;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}

.sortable li:hover {
  background-color: rgba(242, 116, 107, 0.75);
  -webkit-transition: all linear 0.25s;
  transition: all linear 0.25s;
}

.sortable li:hover::before {
  background-color: rgba(242, 116, 107, 0.75);
  -webkit-transition: all linear 0.25s;
  transition: all linear 0.25s;
}

#options {
  padding: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results-board {
  padding: 20px;
  text-align: center;
}

.results-board li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.results-board li h3 {
  margin: 20px;
}

canvas {
  width: 80vw !important;
  max-width: 1000px;
  height: 60vh !important;
  min-height: 400px !important;
}
/*# sourceMappingURL=layout.css.map */