body {
  background: linear-gradient(rgba(255, 255, 255, 0.5) 30%), url(./../images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
h2 {
  margin: 20px;
  color: $blue;
  text-align: center;
}
img {
  width: 100%;
  max-width: 100%;
  display: block;
}
ul {
  padding: 0;
}
section {
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
li {
  text-decoration: none;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
