* {
  font-family: $font;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
}
input,
textarea {
  font-family: $font;
}
h2 {
  font-size: 2rem;
}
button {
  font-style: italic;
}
